@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@font-face {
    font-family: 'Roboto Flex';
    src: url();
}

*{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root{
    --color1: #FC6067;
    --font-color1: #222222de;
    --font-color2: #222222c0;
    --border-color: #6d6d6d7b;
    --input-selected: green;
}

body{
    background-color: #bcc2b0;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Flex';
}

main{
    background-color: #ffffffe2;
    width: 350px;
    margin-top: 5rem;
    border-radius: 20px;
    padding: 1.5rem 2.5rem 2rem 2.5rem;
}

#paper-bag{
    max-width: 100px;
    display: block;
    margin: auto;
    padding: .5rem 0 1rem 0;
}

fieldset{
    border: none;
}

fieldset legend{
    font-weight: 500;
    font-size: .95rem;
    color: var(--font-color1);
    padding: 5px;
}

#input-item{
    width: 98%;
}

#input-item, #input-quantity, #input-category{
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding-left: 5px;
    font-family: 'Roboto Flex';
}

input:focus, select:focus{
    outline: none;
    border-color: var(--input-selected) !important;
}

fieldset:has(input:focus, select:focus) legend{
    color: var(--input-selected);
}

.fieldset2{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    align-items: center;
}

#input-category{
    width: 190px;
}

#submit-item{
    padding: 15px;
    width: 100%;
    background-color: var(--color1);
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}

#submit-item:hover{
    background-color: #e94850;
}

.grocery-items header p{
    text-align: center;
    margin-top: 2rem;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
    color: var(--font-color1);
}

.grocery-items header p i{
    margin: 0px 20px;
}

.grocery-list{
    height: 200px;
    overflow-y: scroll;
    margin-top: 2rem;
}

.grocery-list::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}

.grocery-list::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #4c4c4c14;
}

.grocery-list img{
    width: 30px;
}

.grocery{
    display: flex;
    gap: 20px;
    align-items: center;
}

.grocery + .grocery{
    margin-top: 1.5rem;
}

.grocery-info{
    width: 190px;
    overflow-wrap: break-word;
}

.grocery-info strong{
    font-size: .95rem;
    color: var(--font-color1);
}

.grocery-info small{
    color: var(--font-color2);
}

.grocery-quantity strong{
    color: var(--color1);
    font-size: .9rem;
}

.grocery-quantity{
    width: 60px;
}

.remove-icon{
    width: 10px !important;
    cursor: pointer;
}